<h1>Add a New Post</h1>

<%= form_with model: [ @place, @post ], local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :posted_on %><br>
    <%= form.date_field :posted_on %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>