<h1>Add New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Place Name" %><br>
    <%= form.text_field "name" %>
  </p>
   <%= form.hidden_field "place_id" %>
    <%= form.submit %>
<% end %>