<h1> <%= @place["name"] %> </h1>

<h2>Posts about this place:</h2>

<% @place.posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.posted_on %></p>
  <p><%= post.description %></p>

<% end %>

<a href="/posts/new">Add New Post</a>

<p><%= button_to "Delete this place", @place, :method => "delete" %></p>
